h1{
    color:#8c1114;
    text-align: center;
    font-family: serif;
} 
h2,h3{
    color:rgb(255, 0, 0)
}

.x{

    width: 400px;
    display: block;
    margin: 0 auto;
}

.biggerResize{
    width: 460px;
}

a:link, a:visited {
    background-color: red;
    color: white;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
}

body {
    font-family: sans-serif;
    display: block;
    margin: 8px;
    background: #F4F3EC;
    letter-spacing: 1px;
    line-height:30px;
    
}

.parent.sidebySide{
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background:whitesmoke;

}

.child.sidebySide{
    display: inline-block;
}

.listy {
    list-style-type:none;

}
::selection{
    background:#3197fc;
    text-shadow: none;
}